## import data training

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Intelligo.id/Data/data_train.csv')

In [ ]:
df

     index                        nama jenis_kelamin
0        0              ERWIN TJAHJONO     Laki-Laki
1        1  DAVIANDRIE ANDIKA BAHROENY     Laki-Laki
2        2              ELAN KURNIAWAN     Laki-Laki
3        3     AYU DWI CAHYANING MUKTI     Perempuan
4        4                   WAHYOEDIN     Laki-Laki
..     ...                         ...           ...
995    995              NENNI SABILLAH     Perempuan
996    996                   GRACE LIE     Perempuan
997    997               HENNY H SAKKA     Perempuan
998    998          AJENG FARAH ARIBAH     Perempuan
999    999                   P U R N I     Perempuan

[1000 rows x 3 columns]

## Cleaning Data

In [ ]:
# mengecek apakah ada data yang kosong
df.isnull().values.any()

True

In [ ]:
#Mengetahui jumlah data yang kosong
len(df[pd.isnull(df).any(axis=1)])

13

In [ ]:
#Menghapus data yang kosong
df = df.dropna()

In [ ]:
df

     index                        nama jenis_kelamin
0        0              ERWIN TJAHJONO     Laki-Laki
1        1  DAVIANDRIE ANDIKA BAHROENY     Laki-Laki
2        2              ELAN KURNIAWAN     Laki-Laki
3        3     AYU DWI CAHYANING MUKTI     Perempuan
4        4                   WAHYOEDIN     Laki-Laki
..     ...                         ...           ...
995    995              NENNI SABILLAH     Perempuan
996    996                   GRACE LIE     Perempuan
997    997               HENNY H SAKKA     Perempuan
998    998          AJENG FARAH ARIBAH     Perempuan
999    999                   P U R N I     Perempuan

[987 rows x 3 columns]

In [ ]:
df['jenis_kelamin'] = df['jenis_kelamin'].apply(lambda score: 1 if score=='Laki-Laki' else 0)
df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

     index                        nama  jenis_kelamin
0        0              ERWIN TJAHJONO              1
1        1  DAVIANDRIE ANDIKA BAHROENY              1
2        2              ELAN KURNIAWAN              1
3        3     AYU DWI CAHYANING MUKTI              0
4        4                   WAHYOEDIN              1
..     ...                         ...            ...
995    995              NENNI SABILLAH              0
996    996                   GRACE LIE              0
997    997               HENNY H SAKKA              0
998    998          AJENG FARAH ARIBAH              0
999    999                   P U R N I              0

[987 rows x 3 columns]

In [ ]:
#mengecek masing-masing label
df['jenis_kelamin'].value_counts()

0    538
1    449
Name: jenis_kelamin, dtype: int64

## Modelling machine learning

In [ ]:
#split dataset

from sklearn.model_selection import train_test_split

X = df['nama']
y = df['jenis_kelamin']

text_train, text_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [ ]:
text_train.shape

(789,)

In [ ]:
text_test.shape

(198,)

In [ ]:
y_train.shape

(789,)

In [ ]:
y_test.shape

(198,)

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer(analyzer = 'char_wb', ngram_range=(2,6))
vectorizer.fit(text_train.ravel())

X_train = vectorizer.transform(text_train.ravel())
X_test = vectorizer.transform(text_test.ravel())

In [ ]:
print(X_train)

  (0, 5)	1
  (0, 204)	1
  (0, 211)	1
  (0, 217)	1
  (0, 218)	1
  (0, 4180)	1
  (0, 4210)	1
  (0, 4233)	1
  (0, 4234)	1
  (0, 4236)	1
  (0, 5764)	1
  (0, 5771)	1
  (0, 5773)	1
  (0, 5774)	1
  (0, 5775)	1
  (0, 7345)	1
  (0, 10096)	1
  (0, 10097)	1
  (0, 11409)	1
  (0, 11446)	1
  (0, 11447)	1
  (0, 11449)	1
  (0, 11450)	1
  (0, 12700)	1
  (0, 12714)	1
  :	:
  (788, 12912)	1
  (788, 12930)	1
  (788, 12931)	1
  (788, 13105)	1
  (788, 13106)	1
  (788, 13113)	1
  (788, 13114)	1
  (788, 13115)	1
  (788, 13772)	1
  (788, 13773)	1
  (788, 14248)	1
  (788, 14325)	1
  (788, 14327)	1
  (788, 14328)	1
  (788, 14511)	1
  (788, 14579)	1
  (788, 14581)	1
  (788, 14585)	1
  (788, 14586)	1
  (788, 14752)	1
  (788, 14999)	1
  (788, 15027)	1
  (788, 15039)	1
  (788, 15040)	1
  (788, 15041)	1

In [ ]:
print(X_test)

  (0, 5)	1
  (0, 152)	1
  (0, 191)	1
  (0, 471)	1
  (0, 472)	1
  (0, 757)	1
  (0, 795)	1
  (0, 807)	1
  (0, 3895)	2
  (0, 3934)	1
  (0, 4078)	1
  (0, 4081)	1
  (0, 5273)	1
  (0, 5499)	1
  (0, 5568)	1
  (0, 5570)	1
  (0, 5764)	1
  (0, 5771)	1
  (0, 5772)	1
  (0, 6093)	1
  (0, 6106)	1
  (0, 6107)	1
  (0, 6444)	1
  (0, 6466)	1
  (0, 7232)	1
  :	:
  (197, 8260)	1
  (197, 8265)	1
  (197, 8266)	1
  (197, 8840)	1
  (197, 8904)	1
  (197, 8905)	1
  (197, 8906)	1
  (197, 8907)	1
  (197, 13365)	1
  (197, 13366)	1
  (197, 13617)	1
  (197, 13648)	1
  (197, 13649)	1
  (197, 13650)	1
  (197, 14334)	1
  (197, 14346)	1
  (197, 14347)	1
  (197, 14630)	1
  (197, 14711)	1
  (197, 14712)	1
  (197, 14713)	1
  (197, 14714)	1
  (197, 14784)	1
  (197, 14804)	1
  (197, 14805)	1

In [ ]:
#proses training

In [ ]:
from sklearn.naive_bayes import MultinomialNB

model = MultinomialNB()
model.fit(X_train, y_train.ravel())

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [ ]:
model_predict = model.predict(X_test)

In [ ]:
model_predict

array([1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0,
       0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0,
       0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1,
       0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0])

In [ ]:
#akurasi data train = 97%
print(model.score(X_train, y_train))

0.9898605830164765

In [ ]:
#akurasi data test = 91%
print(model.score(X_test, y_test))

0.8686868686868687

## evaluasi model

In [ ]:
#confusion matrix
#classification report

from sklearn import metrics

model_predict = model.predict(X_test)

print('Akurasi: {0:.4f}'.format(metrics.accuracy_score(y_test, model_predict)))
print(metrics.confusion_matrix(y_test, model_predict, labels=[1,0]))

print('Classification Report:')
print(metrics.classification_report(y_test, model_predict, labels=[1,0]))

Akurasi: 0.8687
[[78 17]
 [ 9 94]]
Classification Report:
              precision    recall  f1-score   support

           1       0.90      0.82      0.86        95
           0       0.85      0.91      0.88       103

    accuracy                           0.87       198
   macro avg       0.87      0.87      0.87       198
weighted avg       0.87      0.87      0.87       198

In [ ]:
import pickle
with open ('my_model', 'wb') as m:
  pickle.dump(model_predict,m)

In [ ]:
with open ('my_model', 'rb') as m:
  Pmy_model= pickle.load(m)

In [ ]:
print('Akurasi: {0:.4f}'.format(metrics.accuracy_score(y_test, model_predict)))

Akurasi: 0.8687

##prediksi data baru

In [ ]:
label = {1:'Laki-Laki', 0:'Perempuan'}

nama_baru = vectorizer.transform([input('Masukkan Nama yang ingin diprediksi gendernya : ')])
hasil_prediksi = model.predict(nama_baru)

print(label[int(hasil_prediksi)])

Masukkan Nama yang ingin diprediksi gendernya : Mimin
Perempuan

#Prediksi dataset testing

In [ ]:

df_testing = pd.read_csv('/content/drive/MyDrive/Intelligo.id/Data/data_test.csv')

In [ ]:
df_testing

      index                   nama jenis_kelamin
0      1001             MURFA DEVI     Perempuan
1      1002        BARITO RIVERA S     Laki-Laki
2      1003            DESNA ELIZA     Perempuan
3      1004   DIAN AYU PERMATASARI     Perempuan
4      1005            SHUFY GULAM     Laki-Laki
...     ...                    ...           ...
3995   4996       RISA NURUL FITRA     Perempuan
3996   4997  FADEL MUHAMMAD RAHMAN     Laki-Laki
3997   4998          HELEN SITORUS     Perempuan
3998   4999          AHMAD BAIJURI     Laki-Laki
3999   5000                    NaN           NaN

[4000 rows x 3 columns]

In [ ]:
df_testing = df_testing.dropna()

In [ ]:
df_testing

      index                   nama jenis_kelamin
0      1001             MURFA DEVI     Perempuan
1      1002        BARITO RIVERA S     Laki-Laki
2      1003            DESNA ELIZA     Perempuan
3      1004   DIAN AYU PERMATASARI     Perempuan
4      1005            SHUFY GULAM     Laki-Laki
...     ...                    ...           ...
3994   4995                YUNIZAL     Laki-Laki
3995   4996       RISA NURUL FITRA     Perempuan
3996   4997  FADEL MUHAMMAD RAHMAN     Laki-Laki
3997   4998          HELEN SITORUS     Perempuan
3998   4999          AHMAD BAIJURI     Laki-Laki

[3954 rows x 3 columns]

In [ ]:
new_predict = df_testing['nama'].values

In [ ]:
new_predict

array(['MURFA DEVI', 'BARITO RIVERA S', 'DESNA ELIZA', ...,
       'FADEL MUHAMMAD RAHMAN', 'HELEN SITORUS', 'AHMAD BAIJURI'],
      dtype=object)

In [ ]:
new_predict = vectorizer.transform(new_predict.ravel())

In [ ]:
print(new_predict)

  (0, 471)	1
  (0, 516)	1
  (0, 1491)	1
  (0, 1651)	1
  (0, 1685)	1
  (0, 3163)	1
  (0, 5403)	1
  (0, 6322)	1
  (0, 6330)	1
  (0, 6370)	1
  (0, 6371)	1
  (0, 7345)	1
  (0, 9672)	1
  (0, 9726)	1
  (0, 11505)	1
  (0, 11506)	1
  (0, 14119)	1
  (0, 14153)	1
  (0, 14463)	1
  (1, 312)	1
  (1, 322)	1
  (1, 1972)	1
  (1, 2060)	1
  (1, 2201)	1
  (1, 2202)	1
  :	:
  (3953, 3480)	1
  (3953, 3481)	1
  (3953, 3483)	1
  (3953, 3484)	1
  (3953, 3537)	1
  (3953, 4891)	1
  (3953, 4907)	1
  (3953, 5273)	1
  (3953, 7202)	1
  (3953, 7203)	1
  (3953, 7205)	1
  (3953, 7206)	1
  (3953, 7345)	1
  (3953, 7678)	1
  (3953, 8492)	1
  (3953, 8530)	1
  (3953, 8531)	1
  (3953, 9255)	1
  (3953, 9257)	1
  (3953, 9258)	1
  (3953, 11558)	1
  (3953, 11559)	1
  (3953, 14119)	1
  (3953, 14174)	1
  (3953, 14175)	1

In [ ]:
output = model.predict(new_predict)

In [ ]:
output

array([0, 1, 0, ..., 1, 0, 1])

In [ ]:
df_testing['new_predict'] = output.tolist()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df_testing

      index                   nama jenis_kelamin  new_predict
0      1001             MURFA DEVI     Perempuan            0
1      1002        BARITO RIVERA S     Laki-Laki            1
2      1003            DESNA ELIZA     Perempuan            0
3      1004   DIAN AYU PERMATASARI     Perempuan            0
4      1005            SHUFY GULAM     Laki-Laki            1
...     ...                    ...           ...          ...
3994   4995                YUNIZAL     Laki-Laki            1
3995   4996       RISA NURUL FITRA     Perempuan            0
3996   4997  FADEL MUHAMMAD RAHMAN     Laki-Laki            1
3997   4998          HELEN SITORUS     Perempuan            0
3998   4999          AHMAD BAIJURI     Laki-Laki            1

[3954 rows x 4 columns]

In [ ]:
df_testing['jenis_kelamin'] = df_testing['jenis_kelamin'].apply(lambda score: 1 if score=='Laki-Laki' else 0)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df_testing

      index                   nama  jenis_kelamin  new_predict
0      1001             MURFA DEVI              0            0
1      1002        BARITO RIVERA S              1            1
2      1003            DESNA ELIZA              0            0
3      1004   DIAN AYU PERMATASARI              0            0
4      1005            SHUFY GULAM              1            1
...     ...                    ...            ...          ...
3994   4995                YUNIZAL              1            1
3995   4996       RISA NURUL FITRA              0            0
3996   4997  FADEL MUHAMMAD RAHMAN              1            1
3997   4998          HELEN SITORUS              0            0
3998   4999          AHMAD BAIJURI              1            1

[3954 rows x 4 columns]

# Akurasi = 93%

In [ ]:
from sklearn.metrics import accuracy_score

print(accuracy_score(df_testing['jenis_kelamin'], df_testing['new_predict']))

0.8717754172989378

In [ ]:
label = {1:'Laki-Laki', 0:'Perempuan'}

nama_baru = vectorizer.transform([input('Masukkan Nama yang ingin diprediksi gendernya : ')])
hasil_prediksi = model.predict(nama_baru)

print(label[int(hasil_prediksi)])

Masukkan Nama yang ingin diprediksi gendernya : marona
Perempuan